app-forum-topics {
  grid-area: topics;
  background-color: #0c71b9;
  color: white;
  padding-top: 25px;
}

app-forum {
  grid-area: forum;
}

#forum {
  min-height: 91.4vh;
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas:
    "topics forum"
}