nav {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas:
    "topics forum";
}

app-forum-topics {
  grid-area: topics;
  background-color: #0c71b9;
  color: white;
  padding-top: 25px;
  min-height: 0;
}

app-forum {
  grid-area: forum;
}

#sidebar {
  height: 10000000px;
  background-color: #0c71b9;
  width: 200px;
  position: fixed;
  z-index: -100000;
}