<nav id="nav-bar">
  <a href="/"><img id="logo" src="https://i.imgur.com/kdWNxYO.png"></a>
  <ul class="nav-menu">
    <li><a href="/about" class="nav-button">About</a></li>
    <li><a href="/charts" class="nav-button">Charts</a></li>
    <li><a href="/community" class="nav-button">Community</a></li>
    <!-- <% if logged_in? %>
      <li>
        <a href="/logout" class="signin">Logout</a>
        <a href="/profile/<%= get_username %>" class="signin"><%= get_username %></a>
      </li>
    <% else %>
      <li><a href="/signin" class="signin">Signin</a></li>
    <% end %> -->
  </ul>
</nav>
<div id="spacer"></div>