/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Muli');
@import url('https://fonts.googleapis.com/css?family=Yantramanav&display=swap');
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  font-family: "Yantramanav", sans-serif;
}

body {
  background-color: #fff;
  text-align: center;
  color: #0c71b9;
}

h1 {
  font-size: 75px;
  margin: 25px 0;
  text-transform: lowercase;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  text-decoration: underline;
}

button {
  padding: 5px;
  border-radius: 10px;
  margin: 20px 0;
  border-style: hidden;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: #0c71b9;
  color: white;
}

.btn-primary:hover {
  background-color: #149dff;
}

.btn-secondary {
  background-color: white;
  color: #0c71b9;
}

.btn-secondary:hover {
  background-color: #0c71b9;
  border: 1px solid white;
  color: white;
}

p {
  padding: 25px;
  width: 90%;
  margin: auto;
  text-align: left;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 25px;
}

.hero-text {
  color: #fff;
  padding: 50px;
}

.hero-text h1, .hero-text p {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

hr {
  border-color: white;
  border-width: 1px;
  width: 80%;
  margin: auto;
}