#index-banner1 { /* heart coffee */
  background-image: url("https://i.imgur.com/Bq2XJxW.jpg");
}

#index-banner2 { /* raw beans */
  background-image: url("https://i.imgur.com/kNiGDrB.jpg");
}

#index-banner3 { /* ground beans */
  background-image: url("https://i.imgur.com/g4N5lIl.jpg");
}