#banner1 { /* heart coffee */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url("https://i.imgur.com/Bq2XJxW.jpg");
}

#banner2 { /* raw beans */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url("https://i.imgur.com/kNiGDrB.jpg");
}

#banner3 { /* ground beans */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url("https://i.imgur.com/g4N5lIl.jpg");
}